{% extends 'base.html.twig' %}

{% block title %}Openchurch{% endblock %}

{% block body %}
    <div class="row align-items-center">
        <div class="col-6 mx-auto col-md-6 order-md-2">
            <p style="font-size: 280px">💒</p>
        </div>
        <div class="col-md-6 order-md-1 text-center text-md-left pr-md-5">
            <h1 class="mb-3">OpenChurch</h1>
            <p class="lead">OpenChurch est une plateforme collaborative d'open-data de l'église catholique visant à faciliter la création de produits et services. Les données principales, accessibles via une API REST et GraphQL, sont les églises et leur position.</p>
            <p class="lead mb-4">C'est un <a href="https://github.com/hozana/openchurch">projet open-source</a>.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <h2>🗝 Sécurité</h2>
            <p>La création d'un compte permet de créer une clé d'API oAuth2. Cette clé d'API est nécessaire pour modifier la base de données. Toutes les modifications sont loguées, et ce log est accessible.</p>
        </div>
        <div class="col-12 col-md-4">
            <h2>⛪️ Exhaustivité️</h2>
            <p>La base contient pour le moment {{ nbChurch|number_format(0) }} églises, dans {{ nbCommune|number_format(0) }} villes et {{ nbDepartement|number_format(0) }} départements. Ces données sont issues de <a href="http://maparoisse.eu">maparoisse.eu</a>.</p>
        </div>
        <div class="col-12 col-md-4">
            <h2>🕊 Open source</h2>
            <p>Un projet en PHP, MySQL et ElasticSearch, se reposant sur <a href="https://symfony.com">Symfony 4</a>, <a href="https://api-platform.com">API Platform</a>, <a href="https://github.com/FriendsOfSymfony/FOSElasticaBundle">FOSElasticaBundle</a>, <a href="https://github.com/FriendsOfSymfony/FOSOAuthServerBundle">FOSOAuthServerBundle</a>.</p>
        </div>
    </div>
{% endblock %}

{% block fullwidthbody %}
<div class="row">
    <div class="col-12">
        <h2>Exemples de requêtes</h2>
        <div class="row">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="recherche-nom-tab" data-toggle="pill" href="#recherche-nom" role="tab" aria-controls="recherche-nom" aria-selected="true">Recherche d'une église par nom et nom de ville</a>
                    <a class="nav-link" id="recherche-geoloc-tab" data-toggle="pill" href="#recherche-geoloc" role="tab" aria-controls="recherche-geoloc" aria-selected="false">Recherche d'une église par coordonnées géographiques</a>
                    <a class="nav-link" id="recherche-graphql-tab" data-toggle="pill" href="#recherche-graphql" role="tab" aria-controls="recherche-graphql" aria-selected="false">Recherche en GraphQL</a>
                    <a class="nav-link" id="modifier-eglise-tab" data-toggle="pill" href="#modifier-eglise" role="tab" aria-controls="modifier-eglise" aria-selected="false">Modifier le champ d'une église</a>
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="recherche-nom" role="tabpanel" aria-labelledby="recherche-nom-tab">
                        <h3>Recherche d'une église par nom et nom de ville</h3>
                        <p><pre><code class="bash">curl --request GET \
  --url 'http://127.0.0.1:8000/api/churches?name=elisabeth&communeName=Paris' \
  --header 'accept: application/ld+json'</code></pre></p>
                        <p>
                            <figure class="highlight">
                    <pre>
                        <code class="json">{
        "@context": "\/api\/contexts\/Church",
        "@id": "\/api\/churches",
        "@type": "hydra:Collection",
        "hydra:member": [
            {
                "@id": "\/api\/churches\/12839",
                "@type": "http:\/\/schema.org\/Church",
                "pin": "48.865833,2.360278",
                "id": 12839,
                "name": "Église Sainte-Élisabeth-de-Hongrie",
                "alternateName": null,
                "description": null,
                "address": null,
                "commune": "\/api\/communes\/30837",
                "latitude": 48.865833,
                "longitude": 2.360278,
                "departement": "\/api\/departements\/76",
                "hasMap": null,
                "telephone": null,
                "faxNumber": null,
                "wikidataId": "Q1629790",
                "wikidataDioceseId": "Q1242250",
                "merimeeId": "PA00086110",
                "egliseInfoId": "75\/paris-03\/sainte-elisabeth",
                "wikipediaId": "Église Sainte-Élisabeth-de-Hongrie",
                "commonsId": "Église Sainte-Élisabeth-de-Hongrie (Paris)",
                "clochersId": "75\/accueil_75103b",
                "patrimoineReligieuxId": "172764",
                "url": null,
                "confessionUrl": null,
                "adorationUrl": null,
                "massUrl": null,
                "photo": "Église Sainte-Élisabeth-de-Hongrie (Paris) 1.jpg",
                "thumbnail": "d\/d3\/Église_Sainte-Élisabeth-de-Hongrie_(Paris)_1.jpg\/90px-Église_Sainte-Élisabeth-de-Hongrie_(Paris)_1.jpg",
                "logo": null,
                "isAccessibleForFree": null,
                "publicAccess": null,
                "maximumAttendeeCapacity": null,
                "additionalType": null,
                "event": null,
                "review": null,
                "openingHour": null,
                "openingHoursSpecifications": [],
                "specialOpeningHoursSpecification": null,
                "dateCreated": null,
                "dateModified": null,
                "deletedAt": null,
                "deleted": false
            }
        ],
        "hydra:totalItems": 1,
        "hydra:view": {
            "@id": "\/api\/churches?name=elisabeth&communeName=Paris",
            "@type": "hydra:PartialCollectionView"
        }
    }</code>
                    </pre>
                            </figure>
                        </p>
                    </div>
                    <div class="tab-pane fade" id="recherche-geoloc" role="tabpanel" aria-labelledby="recherche-geoloc-tab">
                        <h3>Recherche d'une église par coordonnées géographiques</h3>
                        <p><pre><code class="bash">curl --request GET \
  --url 'http://127.0.0.1:8000/api/churches?latitude=43.919397&longitude=0.225012' \
  --header 'accept: application/ld+json'</code></pre></p>
                        <p>
                            <figure class="highlight">
                                    <pre>
                        <code class="json">{
    "@context": "\/api\/contexts\/Church",
    "@id": "\/api\/churches",
    "@type": "hydra:Collection",
    "hydra:member": [
        {
            "@id": "\/api\/churches\/32737",
            "@type": "http:\/\/schema.org\/Church",
            "pin": "43.903332,0.2125",
            "id": 32737,
            "name": "Église Sainte-Madeleine de Lagraulet-du-Gers",
            "alternateName": null,
            "description": null,
            "address": null,
            "commune": "\/api\/communes\/12659",
            "latitude": null,
            "longitude": null,
            "departement": "\/api\/departements\/33",
            "hasMap": null,
            "telephone": null,
            "faxNumber": null,
            "wikidataId": "Q38520082",
            "wikidataDioceseId": "",
            "merimeeId": "",
            "egliseInfoId": "",
            "wikipediaId": "",
            "commonsId": "",
            "clochersId": "32\/accueil_32180",
            "patrimoineReligieuxId": "163508",
            "url": null,
            "confessionUrl": null,
            "adorationUrl": null,
            "massUrl": null,
            "photo": "",
            "thumbnail": null,
            "logo": null,
            "isAccessibleForFree": null,
            "publicAccess": null,
            "maximumAttendeeCapacity": null,
            "additionalType": null,
            "event": null,
            "review": null,
            "openingHour": null,
            "openingHoursSpecifications": [],
            "specialOpeningHoursSpecification": null,
            "dateCreated": null,
            "dateModified": null,
            "deletedAt": null,
            "deleted": false
        },
        {
            "@id": "\/api\/churches\/18134",
            "@type": "http:\/\/schema.org\/Church",
            "pin": "43.9366,0.204803",
            "id": 18134,
            "name": "Église Saint-Pierre de Genens",
            "alternateName": null,
            "description": null,
            "address": null,
            "commune": "\/api\/communes\/12768",
            "latitude": 43.9366,
            "longitude": 0.204803,
            "departement": "\/api\/departements\/33",
            "hasMap": null,
            "telephone": null,
            "faxNumber": null,
            "wikidataId": "Q15953903",
            "wikidataDioceseId": "Q1364047",
            "merimeeId": "PA00094876",
            "egliseInfoId": "32\/montreal\/montreal",
            "wikipediaId": "Église Saint-Pierre de Genens",
            "commonsId": "Église Saint-Pierre de Genens (Montréal)",
            "clochersId": "32\/accueil_32290b",
            "patrimoineReligieuxId": "163853",
            "url": null,
            "confessionUrl": null,
            "adorationUrl": null,
            "massUrl": null,
            "photo": "Montréal (32) Église Saint-Pierre de Genens 02.JPG",
            "thumbnail": "4\/46\/Montréal_(32)_Église_Saint-Pierre_de_Genens_02.JPG\/160px-Montréal_(32)_Église_Saint-Pierre_de_Genens_02.JPG",
            "logo": null,
            "isAccessibleForFree": null,
            "publicAccess": null,
            "maximumAttendeeCapacity": null,
            "additionalType": null,
            "event": null,
            "review": null,
            "openingHour": null,
            "openingHoursSpecifications": [],
            "specialOpeningHoursSpecification": null,
            "dateCreated": null,
            "dateModified": null,
            "deletedAt": null,
            "deleted": false
        },
        {
            "@id": "\/api\/churches\/38434",
            "@type": "http:\/\/schema.org\/Church",
            "pin": "43.934444,0.249167",
            "id": 38434,
            "name": "Église Saint-Luperc de Lauraët",
            "alternateName": null,
            "description": null,
            "address": null,
            "commune": "\/api\/communes\/12682",
            "latitude": null,
            "longitude": null,
            "departement": "\/api\/departements\/33",
            "hasMap": null,
            "telephone": null,
            "faxNumber": null,
            "wikidataId": "Q41755841",
            "wikidataDioceseId": "",
            "merimeeId": "",
            "egliseInfoId": "",
            "wikipediaId": "",
            "commonsId": "",
            "clochersId": "32\/accueil_32203",
            "patrimoineReligieuxId": "163543",
            "url": null,
            "confessionUrl": null,
            "adorationUrl": null,
            "massUrl": null,
            "photo": "",
            "thumbnail": null,
            "logo": null,
            "isAccessibleForFree": null,
            "publicAccess": null,
            "maximumAttendeeCapacity": null,
            "additionalType": null,
            "event": null,
            "review": null,
            "openingHour": null,
            "openingHoursSpecifications": [],
            "specialOpeningHoursSpecification": null,
            "dateCreated": null,
            "dateModified": null,
            "deletedAt": null,
            "deleted": false
        }
    ],
    "hydra:totalItems": 3,
    "hydra:view": {
        "@id": "\/api\/churches?latitude=43.919397&longitude=0.225012",
        "@type": "hydra:PartialCollectionView"
    }
}</code>
                    </pre>
                            </figure>
                        </p>
                    </div>
                    <div class="tab-pane fade" id="recherche-graphql" role="tabpanel" aria-labelledby="recherche-graphql-tab">
                        <h3>Recherche en GraphQL</h3>
                        <pre><code class="bash">curl --request POST \
  --url 'http://127.0.0.1:8000/api/graphql?query=%7B%0A%20%20churches(commune_name%3A%20%22Rueil%22)%20%7B%0A%20%20%20%20edges%20%7B%0A%20%20%20%20%20%20node%20%7B%0A%20%20%20%20%20%20%20%20id%0A%20%20%20%20%20%20%20%20name%0A%20%20%20%20%20%20%20%20commune%20%7Bname%7D%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%7D%0A%20%20%7D%0A%7D' \
  --header 'content-type: application/json'</code></pre>
                        <p>Here is the request in JSON:</p>
                        <pre><code class="json">{
  churches(commune_name: "Rueil") {
    edges {
      node {
        id
        name
        commune {name}
      }
    }
  }
}</code></pre>
                        <p>To make this easier, there is a <a href="{{ path('api_graphql_entrypoint') }}">GraphiQL interface</a>.</p>
                        <p>
                            <figure class="highlight">
                                    <pre>
                        <code class="json">{
    "data": {
        "churches": {
            "edges": [
                {
                    "node": {
                        "id": "\/api\/churches\/2006",
                        "name": "Chapelle Notre-Dame de la Route de Sainte-Marguerite-d'Elle",
                        "commune": {
                            "name": "Sainte-Marguerite-d'Elle"
                        }
                    }
                },
                {
                    "node": {
                        "id": "\/api\/churches\/2013",
                        "name": "Chapelle de la Providence de Matha",
                        "commune": {
                            "name": "Matha"
                        }
                    }
                },
                {
                    "node": {
                        "id": "\/api\/churches\/2022",
                        "name": "Chapelle Notre-Dame-de-Lourdes de Choisy-le-Roi",
                        "commune": {
                            "name": "Choisy-le-Roi"
                        }
                    }
                },
                {
                    "node": {
                        "id": "\/api\/churches\/2024",
                        "name": "Chapelle de l'IMP de Draveil",
                        "commune": {
                            "name": "Draveil"
                        }
                    }
                },
                {
                    "node": {
                        "id": "\/api\/churches\/2027",
                        "name": "Chapelle Saint-Pierre de Boulogne-Billancourt",
                        "commune": {
                            "name": "Boulogne-Billancourt"
                        }
                    }
                },
                {
                    "node": {
                        "id": "\/api\/churches\/2028",
                        "name": "Chapelle Jean XXIII de Drancy de Drancy",
                        "commune": {
                            "name": "Drancy"
                        }
                    }
                },
                {
                    "node": {
                        "id": "\/api\/churches\/2039",
                        "name": "Chapelle Saint-Augustin de Verrières-le-Buisson",
                        "commune": {
                            "name": "Verrières-le-Buisson"
                        }
                    }
                },
                {
                    "node": {
                        "id": "\/api\/churches\/2050",
                        "name": "Prieuré Notre-Dame-d'Espérance de Croixrault",
                        "commune": {
                            "name": "Croixrault"
                        }
                    }
                },
                {
                    "node": {
                        "id": "\/api\/churches\/2077",
                        "name": "Chapelle Saint-Lambert de Sentelie",
                        "commune": {
                            "name": "Sentelie"
                        }
                    }
                },
                {
                    "node": {
                        "id": "\/api\/churches\/2079",
                        "name": "Chapelle Notre-Dame-Ô-Pie",
                        "commune": {
                            "name": "Pierregot"
                        }
                    }
                }
            ]
        }
    }
}</code>
                    </pre>
                            </figure>
                        </p>
                    </div>
                    <div class="tab-pane fade" id="modifier-eglise" role="tabpanel" aria-labelledby="modifier-eglise-tab">
                        <h3>Modifier le champ d'une église</h3>
                        <p><pre><code class="bash">curl --request PUT \
  --url http://127.0.0.1:8000/api/churches/17616 \
  --header 'accept: application/ld+json' \
  --header 'authorization: Bearer YOUR_TOKEN' \
  --header 'content-type: application/json' \
  --data '{
    "massUrl": "http://www.rueil.diocese92.fr/ensemble-pastoral/paroisse-sainte-therese/"
}'</code></pre></p>
                        <p>
                            <figure class="highlight">
                                    <pre>
                        <code class="json">{
    "@context": "\/api\/contexts\/Church",
    "@id": "\/api\/churches\/17616",
    "@type": "http:\/\/schema.org\/Church",
    "pin": "48.885812,2.168466",
    "id": 17616,
    "name": "Église Sainte-Thérèse de Rueil-Malmaison",
    "alternateName": null,
    "description": null,
    "address": null,
    "commune": "\/api\/communes\/36329",
    "latitude": 48.885812,
    "longitude": 2.168466,
    "departement": "\/api\/departements\/93",
    "hasMap": null,
    "telephone": null,
    "faxNumber": null,
    "wikidataId": "Q21064756",
    "wikidataDioceseId": "Q872904",
    "merimeeId": "",
    "egliseInfoId": "92\/rueil-malmaison\/sainte-therese",
    "wikipediaId": "Église Sainte-Thérèse de Rueil-Malmaison",
    "commonsId": "Église Sainte-Thérèse de Rueil-Malmaison",
    "clochersId": "92\/accueil_92063b",
    "patrimoineReligieuxId": "176572",
    "url": null,
    "confessionUrl": "http:\/\/www.rueil.diocese92.fr\/sacrements\/reconciliation\/",
    "adorationUrl": "http:\/\/www.rueil.diocese92.fr\/prier-celebrer\/priere\/",
    "massUrl": "http:\/\/www.rueil.diocese92.fr\/ensemble-pastoral\/paroisse-sainte-therese\/",
    "photo": "Rueil-Malmaison SteThérèse.jpg",
    "thumbnail": "5\/5b\/Rueil-Malmaison_SteThérèse.jpg\/160px-Rueil-Malmaison_SteThérèse.jpg",
    "logo": null,
    "isAccessibleForFree": null,
    "publicAccess": null,
    "maximumAttendeeCapacity": null,
    "additionalType": null,
    "event": null,
    "review": null,
    "openingHour": null,
    "openingHoursSpecifications": [],
    "specialOpeningHoursSpecification": null,
    "dateCreated": null,
    "dateModified": null,
    "deletedAt": null,
    "deleted": false
}</code>
                    </pre>
                            </figure>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
