{% extends 'base.html.twig' %}

{% block title %}Openchurch{% endblock %}

{% block body %}
    <div class="row align-items-center">
        <div class="col-6 mx-auto col-md-6 order-md-2">
            <p style="font-size: 280px">💒</p>
        </div>
        <div class="col-md-6 order-md-1 text-center text-md-left pr-md-5">
            <h1 class="mb-3">OpenChurch</h1>
            <p class="lead">OpenChurch est une plateforme collaborative d'open-data de l'église catholique visant à faciliter la création de produits et services. Les données principales, accessibles via une API REST et GraphQL, sont les églises et leur position.</p>
            <p class="lead mb-4">C'est un <a href="https://github.com/hozana/openchurch">projet open-source</a>.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <h2>🗝 Sécurité</h2>
            <p>La création d'un compte permet de créer une clé d'API oAuth2. Cette clé d'API est nécessaire pour modifier la base de données. Toutes les modifications sont loguées, et ce log est accessible.</p>
        </div>
        <div class="col-12 col-md-4">
            <h2>⛪️ Exhaustivité️</h2>
            <p>La base contient pour le moment :</p>
            <ul>
                <li>{{ nbChurches|number_format(0) }} églises ;</li>
                <li>{{ nbDioceses|number_format(0) }} diocèses ;</li>
                <li>{{ nbParishes|number_format(0) }} paroisses.</li>
            </ul>
            <p>Ces données sont issues de <a href="https://www.wikidata.org">Wikidata</a>.</p>
            <p>Note&nbsp;: les id des églises sont susceptibles de changer. Pour des id qui ne changeront pas, utilisez ceux de WikidataChurch.</p>
        </div>
        <div class="col-12 col-md-4">
            <h2>🕊 Open source</h2>
            <p>Un projet en PHP, MySQL et ElasticSearch, se reposant sur <a href="https://symfony.com">Symfony 4</a>, <a href="https://api-platform.com">API Platform</a>, <a href="https://github.com/FriendsOfSymfony/FOSElasticaBundle">FOSElasticaBundle</a>, <a href="https://github.com/FriendsOfSymfony/FOSOAuthServerBundle">FOSOAuthServerBundle</a>.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>Exemples de requêtes</h2>
            <p>Rechercher des églises par nom&nbsp;:</p>
            <pre>curl -X GET "http://localhost:1819/api/churches?name=Notre-Dame" -H  "accept: application/ld+json"</pre>
            <p>Rechercher des diocèses par nom&nbsp;:</p>
            <pre>curl -X GET "http://localhost:1819/api/dioceses?name=Paris" -H  "accept: application/ld+json"</pre>
            <p>Rechercher des paroisses par nom&nbsp;:</p>
            <pre>curl -X GET "http://localhost:1819/api/parishes?name=Paris" -H  "accept: application/ld+json"</pre>
            <p>Rechercher des paroisses par nom de diocèse&nbsp;:</p>
            <pre>curl -X GET "http://localhost:1819/api/parishes?dioceseName=Paris" -H  "accept: application/ld+json"</pre>
        </div>
    </div>
{% endblock %}
