doctrine:
  dbal:
    url: "%env(resolve:DATABASE_URL)%"

    # IMPORTANT: You MUST configure your server version,
    # either here or in the DATABASE_URL env var (see .env file)
    #server_version: '16'

    profiling_collect_backtrace: "%kernel.debug%"
    use_savepoints: true

    types:
      enum_reliability_type: App\Field\Domain\Enum\FieldReliability
      enum_engine_type: App\Field\Domain\Enum\FieldEngine
    mapping_types:
      enum: string
  orm:
    auto_generate_proxy_classes: true
    enable_lazy_ghost_objects: true
    report_fields_where_declared: true
    validate_xml_mapping: true
    naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
    auto_mapping: true
    mappings:
      Community:
        type: attribute
        is_bundle: false
        dir: "%kernel.project_dir%/src/FieldHolder/Community/Domain/Model"
        prefix: 'App\FieldHolder\Community\Domain'
      Place:
        type: attribute
        is_bundle: false
        dir: "%kernel.project_dir%/src/FieldHolder/Place/Domain/Model"
        prefix: 'App\FieldHolder\Place\Domain'
      Field:
        type: attribute
        is_bundle: false
        dir: "%kernel.project_dir%/src/Field/Domain/Model"
        prefix: 'App\Field\Domain'
      Agent:
        type: attribute
        is_bundle: false
        dir: "%kernel.project_dir%/src/Agent/Domain/Model"
        prefix: 'App\Agent\Domain'
    dql:
      string_functions:
        FIELD: DoctrineExtensions\Query\Mysql\Field
    controller_resolver:
      auto_mapping: false

when@test:
  doctrine:
    dbal:
      # "TEST_TOKEN" is typically set by ParaTest
      dbname_suffix: "_test%env(default::TEST_TOKEN)%"

when@prod:
  doctrine:
    orm:
      auto_generate_proxy_classes: false
      proxy_dir: "%kernel.build_dir%/doctrine/orm/Proxies"
      query_cache_driver:
        type: pool
        pool: doctrine.system_cache_pool
      result_cache_driver:
        type: pool
        pool: doctrine.result_cache_pool

  framework:
    cache:
      pools:
        doctrine.result_cache_pool:
          adapter: cache.app
        doctrine.system_cache_pool:
          adapter: cache.system
