parameters:
    level: 6
    paths:
        - config/
        - public/
        - src/
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#Offset index (list) does not accept type diocese|parish.+#'
