<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}<link rel="stylesheet" href="{{ asset('build/app.css') }}">{% endblock %}

    <title>{% block title %}Welcome!{% endblock %}</title>
</head>
<body>
    <div class="container">
        {% block body %}{% endblock %}
    </div>

    {% block javascripts %}<script src="{{ asset('build/app.js') }}"></script>{% endblock %}
</body>
</html>